*{
  margin: 0;
  padding: 0; 
   /* background-image: url(https://i.pinimg.com/originals/e9/d8/5b/e9d85b500365c9e3b7a5e717a534e07c.jpg);
 */
}

@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');


.forecast{
    border-radius: 20px;
    background-color: #01579b;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
    font-family: 'Recursive', sans-serif;
    font-size: 19px;
}

.flex-forecast{
    display: flex;
    justify-content: space-between;
}
